<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web322 - Assignment 2</title>
    <link rel="stylesheet" href="/CSS/gallery.css">
</head>
<body>
    <header class="header">
        <h1 class="title">Web322 - Assignment 2</h1>
        <span class="username">{{username}}</span>
        <span class="logout"><a href="/logout">Logout</a></span>
    </header>
    <div class="contents-container">
    <form class="references-container" method="get" action="/gallery">
        <h2 class="title">Images</h2>
        {{#each constants.images}}
        <div class="reference-container">
            <input class="reference"        id="image-{{name}}" name="image" type="radio" value="{{value}}">
            <label class="reference-label" for="image-{{name}}">{{name}}</label>
        </div>
        <div class="spacer"></div>
        {{/each}}
        <button class="reference-submit" type="submit">Submit</button>
    </form>
    <div class="image-container">
        {{#with image}}
        <img class="image" src="{{path}}" alt="NO IMAGE!">
        <p   class="image-label">{{name}}</p>
        {{/with}}
    </div>
</div>
</body>
</html>